.u-clear {
    clear: both;
}

.u-align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.u-float-left {
    float: left;
}

.u-float-right {
    float: right;
}

.u-align-left {
    text-align: left;
}

.u-align-right {
    text-align: right;
}

.u-clearfix {
    @include clearfix();
}

.u-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.u-height-198 {
    height: 198px;
}

.u-no-list {
    list-style: none;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-font-big {
    text-transform: uppercase;
    @include font-size(100px);
    line-height: 1;
}

.u-header-grey {
    color: #6d6e71;
    text-transform: uppercase;
}

.u-subheader {
    font-weight: normal;
    color: #727272;
    @include font-size(16px);
    margin: 0 0 20px;
}

.u-subheader--small {
    @include font-size(13px);
}

.u-break-word {
  display: block;
  word-break: break-all;
}

.u-no-link {
  &:hover {
    color: inherit;
  }
}

.u-margin-20 {
  margin-left: 20px;
  display: block;
}

/* === ACCESSIBILITY ===  */

.u-skiptocontent {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
    &:focus {
        position: relative;
        top: 0;
        height: auto;
        width: auto;
        padding: 0 10px;
        color: $black;
        border-bottom: 1px solid $black;
    }
}

.u-screenreader {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.u-form-push-right {
    margin-top: 10px;
    margin-left: $form-label-width;
}
