{% if admin.isGranted('VIEW', object) and object.url is not null %}
    <a href="{{ url('cms', { 'path': object.url }) }}" class="btn btn-sm btn-info" target="_blank" title="View page">
        <i class="fa fa-link" aria-hidden="true"></i>
        View page
    </a>
{% endif %}