.m-btn {
    display: inline-block;
    -webkit-appearance: none;
    background: none;
    border: none;
    text-align: center;
    @include font-size(11px);
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        .m-btn__label {
            display: block;
        }
    }
    input[multiple] {
        height: 48px;
        &:hover {
            cursor: pointer;
        }
    }
}

.m-btn__label {
    display: none;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    color: $white;
    background-color: $secondary-color-dark;
    padding: 5px 10px;
    font-weight: bold;
    left: 30px;
    top: 38px;
    z-index: 1;
    @include font-size(11px);
    line-height: normal;
}


//Raised Button
.m-btn--rsd {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 44px;
    padding: 0 10px;
    &:hover {
        color: $white;
        background: $edblue;
    }
}

// Flat button
.m-btn--flat {
    vertical-align: middle;
    padding: 0 10px;
    @include font-size(16px);
}

.m-btn--rsd + .m-btn--rsd {
    margin-left: 1px;
}

// Flotting button
.m-btn--flt {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    margin-left: 10px;
}

// Square button
.m-btn--sq {
    padding: 12px;
    @include font-size(25px);
    &:hover {
        color: $white;
        background: $edblue;
    }
}


.m-btn--small {
    vertical-align: top;
    padding: 5px;
    line-height: 1;
}

.m-btn--large {
    min-width: 130px;
    font-size: 14px;
}

.m-btn--large +  .m-btn--large {
    margin-left: 20px;
}

.m-btn--primary {
    color: $black;
    background: $primary-color;
    &:disabled {
        color: #d3d3d3;
        background: #e2e2e2;
        &:hover {
            cursor: default;
        }
    }
}

.m-btn--grey {
    color: $black;
    background: #f1f1f1;
    border: 1px solid #dcdcdc;
}

.m-btn--dark-grey {
    color: #fff;
    background: #58595b;
}

.m-btn--white {
    color: $black;
    background: $white;
}

.m-btn--red {
    color: $white;
    background: $negative;
}

.m-btn--unselected {
    border: 2px $neutral solid;
    color: $neutral;
    margin: 0;
}

.m-btn--rejected {
    color: $white;
    background: $negative;
    border-color: $negative;
    margin: 0;
}

.m-btn--published {
    color: $white;
    background: $positive;
    border-color: $positive;
    margin: 0;
}

.m-btn--pending {
    color: $white;
    background: $neutral;
    border-color: $neutral;
    margin: 0;
}


    .m-btn__icon {
        vertical-align: middle;
        @include font-size(16px);
    }
