<div class="m-card" permissions="configuration.settings;read">
    <div class="m-card__content">
        <h1>Site settings</h1>
        <p class="m-card__introduction">Configure here generic settings.</p>

        <div permissions="configuration.mediaTypes;read">
            <h3>Media type</h3>
            <div class="m-card m-card--grey m-card--flat l-M-1of2">
                <div ng-if="vm.mediatypes.length" class="m-card__content">
                    <h4>Existing media types</h4>
                    <ul class="m-tree">
                        <li class="m-tree__leaf" ng-repeat="mt in vm.mediatypes">
                            <i class="m-tree__icon m-tree__icon--small material-icons">&#xE8A7;</i>
                            <a ng-href="#configuration/settings/mediatype/update/{{mt.id}}" permissions="configuration.mediaTypes;edit">
                                <b>{{  mt.target }}</b> - {{  mt.filetype }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="!vm.mediatypes.length" class="m-card__content">
                    <p class="m-card__introduction">There is no media types yet. Let's create them using the button below.</p>
                </div>
                <div permissions="configuration.mediaTypes;create">
                    <cms-actions actions="vm.action"></cms-actions>
                </div>
            </div>
        </div>
    </div>
</div>
